[Unit]
Description=Mice Piper Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mice-piper
Restart=on-failure
User=root
WorkingDirectory=/lib/mice-piper

[Install]
WantedBy=multi-user.target